html {
  background-color: #2c2f33;
}

#addGroupButton {
  background-color: #7289da;
  color: #e8e8eb;
}

.soundGroupHeader,
.soundHeader {
  display: flex;
}

.soundGroupName {
  color: #e8e8eb;
  padding-top: 0.9rem;
  padding-left: 1rem;
  padding-right: 5rem;
}

.chevron:hover {
  outline: none;
  box-shadow: none;
}

.soundName {
  color: #e8e8eb;
  padding-left: 1rem;
  width: 150px;
}

.editButton {
  margin-left: 1.5rem;

  margin-top: -0.5rem;
  height: fit-content;
}

.playButton {
  margin-top: -0.4rem;
  height: fit-content;
}

*:focus {
  outline: none;
}
