html {
  background-color: #1e2124;
}

#grid {
  display: grid;
  grid-template-columns: 50px 550px;
}

#grid-top {
  font-family: "ethnocentric";
  font-size: 50px;
  color: white;
  margin-left: 10px;
  margin-bottom: 0;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

#grid-center {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;

  background-color: #2c2f33;
}

#grid-left {
}

#addGroupButton {
  background-color: #7289da;
  color: #e8e8eb;
}

.chevron:hover {
  outline: none;
  box-shadow: none;
}

*:focus {
  outline: none;
}

.bp3-button.bp3-minimal:hover {
  background: none;
}
.bp3-button.bp3-minimal:active,
.bp3-button.bp3-minimal.bp3-active {
  background: none;
}

.bp3-running-text table th,
table.bp3-html-table th,
.bp3-running-text table td,
table.bp3-html-table td {
  color: #e8e8eb;
}

.bp3-overlay-backdrop {
  position: relative;
}

.table-sounds {
  width: 100%;
  margin-top: 10px;
  background-color: #36393d;
}

.no-select {
  user-select: none;
}

.sound-dropdown {
}

@font-face {
  font-family: "ethnocentric";
  src: local("ethnocentric"),
    url(../fonts/ethnocentric.italic.ttf) format("truetype");
}
